body{
    padding: 10px;
}

.calendar-days-container{
    display: grid;    
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(5, auto);
    background-color: gray;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

.day-item{
    display: flex;
    flex-direction: column;
    background: #e6e5ff;
    grid-gap: 20px;
    min-height: 200px;
    padding: 10px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
}

  .day-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .day-item:hover, .day-item:focus, .day-item:active {
    color: white;
  }
  .day-item:hover:before, .day-item:focus:before, .day-item:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  

.day-header-label{
    font-size: 25px;
    border-bottom: 1px solid #000000;
}

.date-label{
    
    font-size: 20px;
}

.selected{
    background: #1ee8bf;
    border-bottom: #1ee8bf;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
}

  .selected:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
  .selected:hover, .hvr-shutter-in-horizontal:focus, .selected:active {
    color: white;
  }
  .selected:hover:before, .selected:focus:before, .selected:active:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  

.today-date{
    font-size: 15px;
    font-weight: bold;
}
.today-date:before{
    content: "Todays Date: ";
}