body{
    padding: 10px;
}

.calendar-days-container{
    display: grid;    
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(5, auto);
    background-color: gray;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

.day-item{
    display: flex;
    flex-direction: column;
    background: #e6e5ff;
    grid-gap: 20px;
    min-height: 200px;
    padding: 10px;
}

.day-item:hover{
    background: #fff;
    border: 1px solid #000000;
}

.day-header-label{
    font-size: 25px;
    color: #303030;
    border-bottom: 1px solid #000000;
}

.date-label{
    
    font-size: 20px;
}

.selected{
    background: #1ee8bf;
}

.selected:hover{
    background: #56ff97;
    color: #000000;
}

.today-date{
    font-size: 15px;
    font-weight: bold;
}
.today-date:before{
    content: "Todays Date: ";
}